.scene {
	background: #f6f6f6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100% - 60px);
	min-height: 450px;

	.player {
		color: teal;
	}

	.computer {
		color: rgb(202, 71, 48);
	}

	.vs {
		color: #b1b1b1;
	}
}
