.circle {
	display: flex;
	width: 130px;
	height: 130px;
	padding: 15px;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	position: relative;

	> img {
		width: 100%;
	}
}
