.DrawerToggle {
	width: 35px;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
	padding: 7px 0;
	box-sizing: border-box;
	cursor: pointer;

	> div {
		width: 90%;
		height: 2px;
		background-color: white;
	}
}
